<aside class="sidebar-news">
  <div class="hotnews-sidebar__card">
    <div class="hotnews-sidebar__image">
      <img src="assets/images/hotnews.jpg" alt="Hot News" />
    </div>

    <div class="hotnews-sidebar__content">
      <div class="hotnews-sidebar__title">
        <span class="material-symbols-outlined hotnews-sidebar__icon"> local_fire_department </span>
        <h3>Hot News</h3>
      </div>

      <p class="hotnews-sidebar__text">
        "Slow Horses," the popular spy drama, has been renewed for a fifth season, much to the
        delight of its dedicated fanbase. The highly anticipated fourth season is set to premiere on
        September 4, 2024, promising more thrilling storylines and complex characters.
      </p>
    </div>

    <div class="hotnews-sidebar__footer">
      <span class="hotnews-sidebar__date">25 July</span>
      <span class="hotnews-sidebar__count">1/6</span>
    </div>
  </div>
</aside>
